* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-image: linear-gradient(to right, #ec4899, #9d174d);
  background-repeat: no-repeat;
}

#scribble-container {
  background-color: #fff;
  width: 90%;
  height: 90%;
  margin: 2.5% auto;
  box-sizing: border-box;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.2), -6px -6px 20px rgba(0, 0, 0, 0.2);
  overflow: scroll;
}

/* @media only screen and (max-width: 600px) {
  #sribble
} */

.app-container {
  height: 100%;
  box-sizing: border-box;
}

.quill {
  height: 90%;
  box-sizing: border-box;
  width: calc(100% - 300px);
  float: left;
  overflow: hidden;
}

.ql-container {
  box-sizing: border-box;
  /* height: calc(100% - 42px); */
  height: 100%;
  min-height: 150px;
  overflow: scroll;
  border: 0 !important;
}

@media only screen and (max-width: 600px) {
  .quill {
    /* width: calc(100% - 200px); */
    width: 100%;
    /* height: 90%; */
  }

  #scribble-container {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 1rem;
    /* margin: 5% auto; */
  }

  .ql-container {
    height: 75%;
  }
}

.ql-editor {
  cursor: text;
}

.MuiListItem-root.Mui-selected {
  background-color: #d4d8e8 !important;
}

.no-note-selected {
  font-size: 48px;
  position: absolute;
  top: 50px;
  left: calc(50% - 165px);
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #fff;
}
